@keyframes scale {
    0%{
        transform: scale(1);
    }

    100%{
        transform: scale(1.2);
    }
}

@keyframes width {
    0%{
        width: 0;
    }
    
    100%{
        width: 100%;
    }
}